{% extends('base.html.twig') %}
{% block title %}
Products
{% endblock %}

{% block stylesheets %} {% endblock %}
{% block body %} 

<div class="container-fluid">
    <h1 class="text-center" style="color: white;">Registered products</h1>
    <div class="row">
        <div class="d-grid gap-2 col-12 mx-auto">
            <button type="button" data-bs-toggle="modal" data-bs-target="#modal-product" class="btn btn-primary btn-block">Register a product</button>
        </div>
    </div>
    <table id="table" class="table table-responsive table-hover table-dark">
        <thead>
        <tr>
            <th scope="col" class="text-center">Modify</th>
            <th scope="col" class="text-center">Delete</th>
            <th scope="col">Product code</th>
            <th scope="col">Product name</th>
            <th scope="col">Product line</th>
            <th scope="col">Product scale</th>
            <th scope="col">Product vendor</th>
            <th scope="col">Product description</th>
            <th scope="col">Quantity in stock</th>
            <th scope="col">Buy price</th>
            <th scope="col">MSRP</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {% for product in lista %}
        <tr>
            <td>
                <button type="button" data-bs-toggle="modal" data-bs-target="#modal-product-modify" class="btn btn-primary"><i class="fas fa-edit"></i></button>
            </td>
            <td>
                <button class="btn btn-danger"><i class="fas fa-trash"></i></button>
            </td>
            <td>
                {{product.productcode}}
            </td>
            <td>
                {{product.productname}}
            </td>
            <td>
                {{product.productline}}
            </td>
            <td>
                {{product.productscale}}
            </td>
            <td>
                {{product.productvendor}}
            </td>
            <td>
                {{product.productdescription}}
            </td>
            <td>
                {{product.quantityinstock}}
            </td>
            <td>
                {{product.buyprice}}
            </td>
            <td>
                {{product.msrp}}
            </td>
        </tr>
        {% endfor %}</tbody>
    </table>
    <div class="modal fade" id="modal-product"  style="color: white;" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="background-color: #343a40;">
                <div class="container-fluid">
                    <h1 class="text-center">Product register</h1>
                    <hr>
                    <form>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Product code</label>
                                <input type="text" class="form-control" id="productCode" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Product name</label>
                                <input type="text" class="form-control" id="productName"required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Product line</label>
                                <input type="text" class="form-control" id="productLine"required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Product scale</label>
                                <input type="text" class="form-control" id="productScale"required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Product vendor</label>
                                <input type="text" class="form-control" id="productVendor"required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Product description</label>
                                <input type="text" class="form-control" id="productDescription"required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Quantity in stock</label>
                                <input type="text" class="form-control" id="quantityInStock"required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Buy price</label>
                                <input type="number" class="form-control" id="buyPrice"required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>MSRP</label>
                                <input type="text" class="form-control" id="msrp"required>
                            </div>
                        </div>

                        <button style="margin-top: 10px;margin-bottom: 10px;" type="button" class="btn btn-primary d-grid gap-2 col-6 mx-auto">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-product-modify"  style="color: white;" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="background-color: #343a40;">
                <div class="container-fluid">
                    <h1 class="text-center">Product lines modify</h1>
                    <hr>
                    <form>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Product code</label>
                                <input type="text" class="form-control" id="productCodeM" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Product name</label>
                                <input type="text" class="form-control" id="productNameM"required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Product line</label>
                                <input type="text" class="form-control" id="productLineM"required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Product scale</label>
                                <input type="text" class="form-control" id="productScaleM"required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Product vendor</label>
                                <input type="text" class="form-control" id="productVendorM"required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Product description</label>
                                <input type="text" class="form-control" id="productDescriptionM"required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Quantity in stock</label>
                                <input type="text" class="form-control" id="quantityInStockM"required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Buy price</label>
                                <input type="number" class="form-control" id="buyPriceM"required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>MSRP</label>
                                <input type="text" class="form-control" id="msrpM"required>
                            </div>
                        </div>

                        <button style="margin-top: 10px;margin-bottom: 10px;" type="button" class="btn btn-primary d-grid gap-2 col-6 mx-auto">Modify</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}