{% extends('base.html.twig') %}
{% block title %}
Order Details
{% endblock %}

{% block stylesheets %} {% endblock %}
{% block body %} 

<div class="container-fluid">
    <h1 class="text-center" style="color: white;">Registered order details</h1>
    <div class="row">
        <div class="d-grid gap-2 col-12 mx-auto">
            <button type="button" data-bs-toggle="modal" data-bs-target="#modal-ordDetails" class="btn btn-primary btn-block">Register an order detail</button>
        </div>
    </div>
    <table id="table" class="table table-responsive table-hover table-dark">
        <thead>
        <tr>
            <th scope="col" class="text-center">Modify</th>
            <th scope="col" class="text-center">Delete</th>
            <th scope="col">Order number</th>
            <th scope="col">Product code</th>
            <th scope="col">Quantity ordered</th>
            <th scope="col">Price Each</th>
            <th scope="col">Order line number</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {% for ordDetails in lista %}
        <tr>
            <td>
                <button type="button" data-bs-toggle="modal" data-bs-target="#modal-ordDetails-modify" class="btn btn-primary"><i class="fas fa-edit"></i></button>
            </td>
            <td>
                <button class="btn btn-danger"><i class="fas fa-trash"></i></button>
            </td>
            <td>
                {{ordDetails.orderNumber}}
            </td>
            <td>
                {{ordDetails.productCode}}
            </td>
            <td>
                {{ordDetails.quantityOrdered}}
            </td>
            <td>
                {{ordDetails.priceEach}}
            </td>
            <td>
                {{ordDetails.orderLineNumber}}
            </td>
        </tr>
        {% endfor %}</tbody>
    </table>
    <div class="modal fade" id="modal-ordDetails"  style="color: white;" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="background-color: #343a40;">
                <div class="container-fluid">
                    <h1 class="text-center">Order details register</h1>
                    <hr>
                    <form>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Order number</label>
                                <input type="number" class="form-control" id="orderNumber" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Product code</label>
                                <input type="text" class="form-control" id="productCode"required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Quantity ordered</label>
                                <input type="text" class="form-control" id="quantityOrdered"required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Price Each</label>
                                <input type="text" class="form-control" id="priceEach"required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Order line number</label>
                                <input type="text" class="form-control" id="orderLineNumber"required>
                            </div>
                        </div>

                        <button style="margin-top: 10px;margin-bottom: 10px;" type="button" class="btn btn-primary d-grid gap-2 col-6 mx-auto">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-ordDetails-modify"  style="color: white;" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="background-color: #343a40;">
                <div class="container-fluid">
                    <h1 class="text-center">Order details modify</h1>
                    <hr>
                    <form>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Order number</label>
                                <input type="number" class="form-control" id="orderNumberM" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Product code</label>
                                <input type="text" class="form-control" id="productCodeM"required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Quantity ordered</label>
                                <input type="text" class="form-control" id="quantityOrderedM"required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Price Each</label>
                                <input type="text" class="form-control" id="priceEachM"required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Order line number</label>
                                <input type="text" class="form-control" id="orderLineNumberM"required>
                            </div>
                        </div>

                        <button style="margin-top: 10px;margin-bottom: 10px;" type="button" class="btn btn-primary d-grid gap-2 col-6 mx-auto">Modify</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}