{% extends('base.html.twig') %}
{% block title %}
Orders
{% endblock %}

{% block stylesheets %} {% endblock %}
{% block body %} 

<div class="container-fluid">
    <h1 class="text-center" style="color: white;">Registered orders</h1>
    <div class="row">
        <div class="d-grid gap-2 col-12 mx-auto">
            <button type="button" data-bs-toggle="modal" data-bs-target="#modal-ordDetails" class="btn btn-primary btn-block">Register an order</button>
        </div>
    </div>
    <table id="table" class="table table-responsive table-hover table-dark">
        <thead>
        <tr>
            <th scope="col" class="text-center">Modify</th>
            <th scope="col" class="text-center">Delete</th>
            <th scope="col">Order number</th>
            <th scope="col">Order date</th>
            <th scope="col">Required date</th>
            <th scope="col">Shipped date</th>
            <th scope="col">Status</th>
            <th scope="col">Comments</th>
            <th scope="col">Customer number</th>
        </tr>
        </thead>
        <tbody id="tbody">
        {% for orders in lista %}
        <tr>
            <td>
                <button type="button" data-bs-toggle="modal" data-bs-target="#modal-orders-modify" class="btn btn-primary"><i class="fas fa-edit"></i></button>
            </td>
            <td>
                <button class="btn btn-danger"><i class="fas fa-trash"></i></button>
            </td>
            <td>
                {{orders.ordernumber}}
            </td>
            <td>
                {{orders.orderdate.format('d/m/Y')}}
            </td>
            <td>
                {{orders.requireddate.format('d/m/Y')}} 
            </td>
            <td>
                {% if orders.shippeddate == null %}
                    Sin fecha
                {% else %}
                    {{orders.shippeddate.format('d/m/Y')}}
                {% endif %}
            </td>
            <td>
                {{orders.status}}
            </td>
            <td>
                {{orders.comments}}
            </td>
            <td>
                {{orders.customernumber}}
            </td>
        </tr>
        {% endfor %}</tbody>
    </table>
    <div class="modal fade" id="modal-orders"  style="color: white;" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="background-color: #343a40;">
                <div class="container-fluid">
                    <h1 class="text-center">Order register</h1>
                    <hr>
                    <form>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Order number</label>
                                <input type="number" class="form-control" id="orderNumber" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Order date</label>
                                <input type="date" class="form-control" id="orderDate"required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Required date</label>
                                <input type="date" class="form-control" id="requiredDate"required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Shipped date</label>
                                <input type="date" class="form-control" id="shippedDate"required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Status</label>
                                <input type="text" class="form-control" id="status"required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Comments</label>
                                <input type="text" class="form-control" id="comments"required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Customer number</label>
                                <input type="text" class="form-control" id="customerNumber"required>
                            </div>
                        </div>

                        <button style="margin-top: 10px;margin-bottom: 10px;" type="button" class="btn btn-primary d-grid gap-2 col-6 mx-auto">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-orders-modify"  style="color: white;" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="background-color: #343a40;">
                <div class="container-fluid">
                    <h1 class="text-center">Order modify</h1>
                    <hr>
                    <form>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>Order number</label>
                                <input type="number" class="form-control" id="orderNumberM" required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Order date</label>
                                <input type="date" class="form-control" id="orderDateM"required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Required date</label>
                                <input type="date" class="form-control" id="requiredDateM"required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Shipped date</label>
                                <input type="date" class="form-control" id="shippedDateM"required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Status</label>
                                <input type="text" class="form-control" id="statusM"required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Comments</label>
                                <input type="text" class="form-control" id="commentsM"required>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Customer number</label>
                                <input type="text" class="form-control" id="customerNumberM"required>
                            </div>
                        </div>

                        <button style="margin-top: 10px;margin-bottom: 10px;" type="button" class="btn btn-primary d-grid gap-2 col-6 mx-auto">Modify</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}